name: PR

on:
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    shell: pwsh

jobs:
  pr_build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Build FrameworkDetector
      run: ./scripts/build.ps1

    - name: Test FrameworkDetector
      run: ./scripts/test.ps1
